body{
    background-color: rgb(65, 65, 65);display: inline;
}

.container-fluid{ /*Composisação da barra de navegação*/
    background-color: black;
    height: 100%;
    position: relative; 
    display:flex;
    justify-content: flex-start
    
}

.area-logo {
   margin-right:20px;
   margin-left: 20px;
   margin-top: 5px;

}

.space-menu{
    margin-right:20%;
    margin-left: 20%;
}

.menu ul li button{
    color: aliceblue;
}

.menu ul{
    display: flex;
    
}

.menu ul li{
    padding: 20px;
}

#logo{
    width: 90px;
    height: 80px;
    border-radius: 50px;
    
}

.menu ul {
    color: aliceblue;
    list-style: none;
    margin-top: 15px;

}

#btn{/*Home/Projetos etc(barra de nav.)*/
    background-color: rgb(0, 0, 0);
    text-decoration-color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

#btn-nav button:hover{
    
    border-bottom-width: 4px;
    border-bottom-color: aliceblue;
    transition: 0.5s;
}

/****************************BARRA NAV - RESPONSIVA******************************/


body, html {
  background: rgb(65, 65, 65);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.navegacao-fundo-auxiliar p{
  color: #FFF;
  margin-left: 10px;
}

.navegacao-fundo-auxiliar p:hover{
  color: #7a7a7a;
  
}

.navegacao-fundo-auxiliar {
  margin-top: 7%;

}

#auxiliar-menu hr{
  color: #ffffff;
}

/*#menu-btn{
  display: none;
}*/

/*#close-menu{
  display:none;
}*/

@media (max-width: 800px) { /*****NAVEGADOR MINIMIZADO******/

    .menu{/*Oculta a Barra horizontal inicial*/
        display: none;
    }

    #auxiliar-menu{/*Oculta a barra vertical*/
      overflow: hidden;
    }

    body.navAberto #auxiliar-menu{
      overflow: visible;
    }

    hr{
      border-color: #61b8ff; 
     }

  body .navegacao-fundo-auxiliar {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background-color: rgba(255, 0, 0, 0);
    width: 0px;
    height: 0px;
    transition: background-color 0.3s ease-in;
    margin-top: 70px;
  }
  body.navAberto {
    overflow-y: auto;
    position: absolute;
  }
  body.navAberto .navegacao-fundo-auxiliar {
    width: 50%;
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.75);
    transition: background-color 0.3s ease-out;
  }
  body.navAberto .carousel-inner{
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  body.navAberto #slide{
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
  }

  body.navAberto .btn-toggle-menu {
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }

  body.navAberto .btn-close-menu {
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }


  body .btn-toggle-menu {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 16px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  body .btn-toggle-menu:hover {
    background: #151515;
  }
  body .btn-toggle-menu:active {
    background: #484848;
  }

  #img-close-menu{
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
  }

  /***********CLOSE MENU***************/
  body .btn-close-menu {
    width: 10px;
    height: 30px;
    padding-right: 60px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    cursor: pointer;
    border-bottom: none;
    position: absolute;
    top: 30px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  
  }
  body .btn-close-menu:hover {
    background: #151515;
    
  }
  body .btn-close-menu:active {
    background: #484848;
  }
/***********END CLOSE MENU***************/
  body > main {
    transition: padding-left 0.3s ease-in;
  }

  body > main > section {
    display: block;
    padding: 8px;
    box-sizing: border-box;
  }

}
@media (min-width: 800px) {/****NAVEGADOR MAXIMIZADO****/

  #auxiliar-menu{/*Oculta a barra vertical*/
    overflow: hidden;
  }

  #menu-btn{
    display: none;
  }

  #close-menu{
    display: none;
  }

  hr{
    border-color: #61b8ff; 
   }



  body .navegacao-fundo-auxiliar {
    cursor: pointer;
    position:absolute;
    left: 0;
    top: 0px;
    display: block;
    background-color: rgba(253, 60, 60, 0);
    width: 0px;
    height: 0px;
    transition: background-color 0.3s ease-in;
  }
  body.navAberto .navegacao-fundo-auxiliar {
    width: 15%;
    height: 150%;
    background-color: rgba(6, 6, 6, 0.75);
    transition: background-color 0.3s ease-out;
  }
  body.navAberto .btn-toggle-menu {
    left: 900px;
    transition: left 0.3s ease-out;
    
  }
  body.navAberto > nav {
    left: 0px;
    transition: left 0.3s ease-out;
  }

  body .btn-toggle-menu {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 900px;
    transition: left 0.3s ease-in;
  }
  body .btn-toggle-menu:hover {
    background: #151515;
  }
  body .btn-toggle-menu:active {
    background: #484848;
  }

  #img-close-menu{
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
    
  }

  /***********CLOSE MENU***************/
  body .btn-close-menu {
    width: 10px;
    height: 30px;
    padding-right: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    cursor: pointer;
    border-bottom: none;
    position: absolute;
    top: 30px;
    margin-left: 480px;
    margin-right:55px;
  }
  body .btn-close-menu:hover {
    background: #484848;
    
  }
  body .btn-close-menu:active {
    background: #484848;
  }
/***********END CLOSE MENU***************/


  body > main {
    transition: padding-left 0.3s ease-in;
  }

  body > main > section {
    display: block;
    padding: 8px;
    box-sizing: border-box;
  }
 
}

/************************** END BARRA NAV - RESPONSIVA **********************/

/*********************End Barra de navegação*******************/


.Divisoria h4{
    background-image: linear-gradient(to right, #0000, rgb(163, 221, 255),#0000);
    width: 70%;
    margin-inline-start: 15%;
    border-radius: 10px;
    
}

.banner{
    width: 70%;
    height: 30%;
    margin-left: 15%;
    border-radius:5px;
    border-style: outset;
    
}

#slide{
    max-width:1200px;
    max-height:500px;
    width: auto;
    height: auto;
}

.container-obras{/*Margens da pagina em relaçao as fileiras de obras*/
    display:flex;
    margin-left:15% ;
    margin-right:15% ;
}

#Obras{/*Define o espaço entre as obras e como devem ser posicionadas*/
    display: inline-block;
    margin-right: 35px;
    overflow: hidden;
}

#Obras a:link{
    text-decoration: none;
}

.container-obras img {
    max-width:70%;
    max-height:70%;
    width: auto;
    height: auto; 
    transition: 0.5s all ease-in-out;
    
}

.container-obras img:hover{
   transform: scale(1.2); 
}

#titulo p{
    margin-top: 10px;
    color: black;
}


#Container-direitos p {
    color: aliceblue;
    margin-top: 2%;
    margin-left: 35%;
}
